
body {
	margin: 0;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #23282c;
	text-align: left;
	background-color: #ededed;
	overflow: initial !important;
}

.root {
	margin: 0;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #23282c;
	text-align: left;
	background-color: #ededed;
	overflow: initial !important;
}

.pointer{
	cursor: pointer;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-dark {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	background-color: #1d4369!important;
	/*padding: 20px 0;*/
}
.navbar-light .navbar-brand {
	font-size: 30px;
	margin-right: 30px;
	color: #fff !important;
}
.head_logo {
	width: 100px;
	/*height: 68px;*/
}

.selectize-control {
	width: 260px !important;
	display: grid;
}

.selectize-dropdown, .selectize-dropdown.form-control {
	z-index: 999;
}

.selectize-control.single .selectize-input:after {
	border-style: none !important;
	border-width: 5px 5px 0 5px; 
	border-color: #333 transparent transparent transparent;
	content: '\f002' !important;
	font-family: "Font Awesome 6 Free"; 
	font-weight: 900;
	top: 30% !important;
	right: 0px !important;
	left: 3px !important;
}
.selectize-input {
	padding: 4px 22px !important;
	min-height: 30px !important;
	font-size: 14px;
}
.userFrm .form-control {
	height: 40px !important;
	width: auto !important;
	margin-right: 25px;
	font-size: 14px;
}
.logInbtn {
	background-image: linear-gradient(-180deg, rgb(247, 36, 36) 0%, rgb(187, 28, 0) 100%);
	/*background-color: #276aa5;*/
	color: #fff;
	border-radius: 5px;
	padding: 2px 20px;
	border: 0;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
}
.logInbtn i {
	margin-left: 5px;
}
.menu-wrap {
	/*background-image: linear-gradient(#054b89 8%, #235e91 100%);*/
	line-height: 30px;
	background-color: #276aa5;
	margin-top: 71px;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	display: inline-block;
}
.full-wrap {
	position: relative;
}
.menu-wrap .tab-menu {
	margin: 0 0 0 25px;
	padding: 0;
	font-weight: 700;
}
.pull-left {
	float: left;
}
.menu-wrap .ver-menu {
	color: #333;
	font-size: 13px;
	padding: 0 10px;
	display: inline-grid;
	border-right: 1px solid #797777;
	list-style: none;
}
.ver-menu.active{
    background-color: #1d4369 !important;
    color: #fff;
}
.menu-wrap .ver-menu a {
	color: #fff;
	text-decoration: none;
}

.ver-menu .myaccnt{
    background-color: #1d4369 !important;
    color: #fff;
	font-size: 14px;
    padding: 2px 8px;
}

.ver-menu .myaccnt i {
    margin-left: 4px;
}

.ver-menu .myaccnt:after {
    display: none;
}

.newlaunch,.newlaunch span {
	transition:.1s ease-in;-webkit-animation:1s infinite newlaunch;
	animation:1s infinite newlaunch
}
.game-highlight-wrap h3 {
	/*background: linear-gradient(#054b89 8%, #235e91 100%);*/
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	padding-top: 5px;
	background-color: #276aa5;
	padding-bottom: 5px;
	line-height: 25px;
	padding-left: 10px;
	margin-bottom: 0;
}
@keyframes newlaunch {
	0%{color:red}
	50%{color:#ff0}
	100%{color:#00f}
}
@-webkit-keyframes newlaunch {
	0%{color:red}
	50%{color:#ff0}
	100%{color:#00f}
}

section.hiLight {
	margin-top: 101px;
}

.game-highlight-wrap .nav-tabs{
	/*background: linear-gradient(#235e91 8%, #054b89 100%);*/
	background-color: #276aa5;
}
.game-highlight-wrap .nav-tabs .nav-link {
	font-size: 12px;
	font-weight: 700;
	padding: 3px 22px;
	color: #fff;
	border: 0;
}
.game-menu-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: #dddcd6 !important;
	color: #2f353a;
}
.game-highlight-wrap li.nav-item .nav-link.active {
	border-radius: 10px;
	/*background-image: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);*/
	background-color: #1d4369 !important;
	color: #fff;
}
.game-highlight-wrap .nav-tabs .nav-link:hover {
	background-color: #e6efd100;
}
.game-menu-tab .table {
	font-size: 12px;
	margin-bottom: 0px;
}
.game-menu-tab thead {
	background: #dddcd6;
}
.game-menu-tab .table th {
	padding: 0;
	font-size: 11px;
}

.count span {
	min-width: 50px;
	display: inline-flex;
}
.back {
	background: #72bbef;
	color: #1e1e1e;
	padding: 2px 10px;
	font-weight: 700;
	float: left;
}
.lay {
	background: #faa9ba;
	color: #1e1e1e;
	padding: 2px 10px;
	font-weight: 700;
	/*float: left;*/
}
.game-highlight-wrap  .count {
	width: 110px;
	text-align: center;
	/*display: flex;*/
	/*clear: both;*/
}
.match-name {
	font-weight: 700;
	color: #2789ce!important;
}

.in_play {
	font-weight: 700;
	color: #508d0e;
	margin-left: 10px;
}
.game-menu-tab .table td, .game-menu-tab .table th {
	border-top: none;
	padding: 3px 0 3px 10px;
	vertical-align: middle;
}

.add-pin, .pin-on {
	padding: 0;
	height: 20px;
	background-image: url(../img/pin.svg);
	background-repeat: no-repeat;
	font-size: 11px;
	line-height: 13px;
	display: block;
	background-size: contain;
	text-align: center;
	width: 25px;
	margin-left: 5px;
	text-indent: -99999px;
	cursor: pointer;
}
.game-menu-tab table tr {
	border-bottom: 1px solid #e0e6e6;
}

td.pl-0 {
	padding: 0 !important;
}
.tab-content {
	margin-top: -1px;
	background: #fff;
	border: 1px solid #c8ced3;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #c8ced3 !important;
}
.game-fancy {
	font-weight: 700;
	padding: 0 5px;
	background-color: #0a92a5;
	font-style: italic;
	color: #fff;
	border-radius: 4px;
}
.game-sportbook {
	font-weight: 700;
	padding: 0 5px;
	background-image: linear-gradient(180deg,#f26d1c 15%,#d14100 100%);
	color: #fff;
	font-style: italic;
	border-radius: 4px;
}
.match-time {
	margin: 0 0 0 10px;
	color: #777;
	font-weight: 400;
	font-size: 12px;
	display: inline;
}

.sidebar-nav {
	width: 100%;
	transition: width .25s;
}

.sidebar-nav {
	position: relative;
	/*flex: 1;
	overflow-x: hidden;
	overflow-y: auto;*/
}

.top-head-sport {
	/*background: linear-gradient(-180deg,#323232 0,#0d0d0d 100%);;*/
	color: #ffb80c !important;
	line-height: 25px;
	font-size: 12px;
	background-color: #1d4369;
	height: 25px;
	font-weight: 400;
}
.top-head-sport a {
	color: #fff !important;
}
.top-head-sport ul {
	padding: 0;
	margin: 0;
}

.top-head-sport li {
	list-style: none;
	margin-left: 10px;
	font-weight: 700;
}

.path-back {
	position: absolute;
	z-index: 2;
	height: 25px;
	font-size: 22px;
	width: 40px;
	left: 15px;
	top: 2px;
	line-height: 16px;
}

.text-right {
	text-align: right;
}

.mr-2, .mx-2 {
	margin-right: 0.5rem!important;
}

.sidebar-nav .nav_gate {
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
}

.nav_gate {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
ul.nav_gate li {
	position: relative;
}
.sidebar-nav .nav-dropdown-toggle::before {
	background-image: url(../img/sprite-icon.38e629d70915dd18762b.png);
	background-position: 100% -150px;
	height: 25px;
	width: 23px;
	background-repeat: no-repeat;
	line-height: 25px;
	top: 6px;
	right: 6px;
}
.sidebar-nav {
	background-color: #fff;
}

.sidebar-nav .nav-dropdown-toggle::before {
	position: absolute;
	display: block;
	padding: 0;
	margin-top: -4px;
	content: "";
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s,-webkit-transform .3s;
}

.nav_gate .nav-link:hover {
	background-color: #93ccfd;
	color: #000 !important;
}
.art_colleft .accordion-body {
	padding: 0;
}
/*.table-hover>tbody>tr:hover{
	--bs-table-accent-bg: #93ccfd;
}*/
.art_colleft .accordion-body .nav-link {
	border-bottom: 1px solid #d2d6e2;
}
.nav-item .nav-link {
	border-bottom: 1px solid #d2d6e2;
}

.sidebar-nav .nav-dropdown-toggle:hover:before {
	background-position: 100% -175px;
	background-image: url(../img/sprite-icon.38e629d70915dd18762b.png)!important;
	height: 25px;
	width: 23px;
	background-repeat: no-repeat;
	line-height: 25px;
	top: 6px;
	right: 6px;
}
.sidebar-nav .nav-link {
	color: #223869;
	padding: 0.3rem 1rem;
	font-size: 13px;
}
.padRemoright {
	padding-right: 0!important;
}
.padRemoleft {
	padding-left: 0 !important;
}
.desktop-stream .card-accrdn, .open-bet .card-accrdn {
	font-size: 12px;
	font-weight: 400;
	/*background: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);;*/
	background-color: #1d4369;
}
.card-accrdn {
	padding: 5px;
	background-color: #273f4f;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
}
.mar_right {
	margin-left: 20px;
}
@media (min-width: 992px){
	.card .tab-content {
		height: calc(100vh - 2.375rem - 55px);
	}
}

.fl-right {
	right: 0;
}
.col_fixed {
	position: fixed;
}

.matchodd {
	font-size: 12px;
}
.card-matchodds {
	background: #fff;
	color: #333;
	border: none;
	padding: 0;
	font-size: 13px;
	border-bottom: 1px solid #7e97a7;
}

.match-odds {
	height: 30px;
	line-height: 30px;
	color: #fff;
	float: left;
	font-weight: 700;
	padding-right: 30px;
	padding-left: 10px;
	position: relative;
	/*background: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);;*/
	background-color: #1d4369;
	border-top-right-radius: 15px;
	font-size: 12px;
}

.marketinfo {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 8px;
	top: 8px;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-image: url(../img/indication.svg);
}

.matched-count {
	padding: 5px 10px;
	font-size: 13px;
}
.pull-right {
	float: right;
}
.matched-count strong {
	font-weight: 700;
	color: #1e1e1e;
}
.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

betfair-tbl {
	margin-bottom: 0;
}
.p-rltv {
	position: relative;
}

.table[_ngcontent-gkr-c3] thead[_ngcontent-gkr-c3] th[_ngcontent-gkr-c3], .tbl-bets[_ngcontent-gkr-c3] .odd-row[_ngcontent-gkr-c3] {
	border-bottom: 1px solid #7e97a7;
}
.tbl-bets th {
	padding: 5px;
	border-top: none;
	text-align: center;
}
.betfair-tbl thead .back-1 {
	border-top-left-radius: 10px;
}
.back-1 {
	background-color: #72bbef !important;
	border-left-color: #fff;
}
.min-max-bet {
	font-size: 13px;
}
.lay-1 {
	background-color: #faa9ba !important;
	border-left-color: #fff;
}
.fancy-info {
	padding: 5px 6px 0;
	margin: 0;
	background-color: #bed5d8;
	font-size: 10px;
	line-height: 7px;
	border-radius: 3px;
}
.fancy-info dt {
	color: #315195;
	display: inline-block;
	margin-right: 8px;
}
.match-list {
	padding: 5px 12px;
}
.suspend-bookmaker {
	height: 46px;
	background-color: rgba(36,58,72,.4);
	z-index: 5;
	position: absolute;
	width: 200%;
	left: 0;
}
.suspend-bookmaker span {
	line-height: 46px;
	font-size: 12px;
	font-weight: 400;
	opacity: .8;
	color: #fff;
	text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
	text-align: center;
	text-transform: none;
}
.back-gradient {
	background-image: linear-gradient(90deg,rgba(130,183,221,.15) 0,rgba(130,183,221,.8) 65%);
	height: 46px;
	display: flex;
	margin: 0;
	padding: 0;
}
.back-gradient dd, .lay-gradient dd{
	flex: 1;
	padding: 2px;
	color: #59708d;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0;
}
.tbl-bets .count {
	width: 10%;
}
.tbl-bets td {
	text-align: center;
	font-size: 12px;
	padding: 3px 0;
	font-weight: 700;
	border-top: none;
}
.lay-gradient {
	background-image: linear-gradient(270deg,rgba(231,170,184,.15) 5%,rgba(231,170,184,.8) 60%);
	height: 46px;
	display: flex;
	margin: 0;
	padding: 0;
}
.back-gradient dd a {
	color: #59708d!important;
	text-decoration: none;
}

.tbl-bets .odd-row td span {
	display: block;
	font-weight: 400;
	font-size: 11px;
}
.back-gradient .back_1 a, .lay-gradient .lay_1 a {
	justify-content: center;
	align-items: center;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	padding: 0;
	margin: 0;
	background-color: #72bbef;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #000!important;
}
.lay-gradient .lay_1 a {
	background-color: #faa9ba;
}
.lay-gradient dd a {
	color: #a9616d!important;
	text-decoration: none;
}
.team-width {
	width: 40%;
}
.odd-row .team-name {
	text-align: left;
	padding-left: 6px;
}
.odd-row .team-name .title {
	font-size: 12px;
	display: block;
	font-weight: 700;
}
.minus-book {
	color: #d0021b;
	display: block;
	font-weight: 700!important;
}
.tbl-bets .odd-row td span {
	display: block;
	font-weight: 400;
	font-size: 11px;
}
.table thead.match_thead th, .tbl-bets .odd-row {
	border-bottom: 1px solid #7e97a7 !important;
}

.fancy-head h4 {
	position: relative;
	/*height: 25px;*/
	line-height: 25px;
	font-size: 12px;
	color: #fff;
	z-index: 1;
	/*float: left;
	zoom: 1;*/
	padding: 0;
}

.bookmaker .in-play span, .fancy-head .in-play span, .sportsbook-head .in-play span {
	padding: 0 14px 0 8px;
	cursor: pointer;
}
.btn-fancybet_rules::before, .btn-sportsbook_rules::before {
	content: '';
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	margin: 8px 12px;
	background-size: contain;
	display: block;
	background-image: url(../img/indication.svg);
}

.fancy-head h4 span {
	min-width: 72px;
	line-height: 30px;
	padding: 0 10px;
	color: #fff;
	vertical-align: top;
	display: inline-block;
	background: #1d4369;
	font-weight: 700;
}
.btn-fancybet_rules, .btn-sportsbook_rules {
	vertical-align: top;
	margin-left: -4px;
	height: 30px;
	font-size: 0;
	text-indent: -99999px;
	width: 41px;
	display: inline-block;
	background-repeat: no-repeat;
	/*background-image: url(../img/bg-fanctbet_rules.svg);*/
	background-color: #1d4369;
	border-top-right-radius: 19px;
}
.fancy-head .in-play-sportbook span {
	background: #e4550e;
	cursor: pointer;
	border-top-left-radius: 10px;
}
.fancy-head h4:after {
	content: "";
	display: block;
	clear: both;
}
.in-play-sportbook a {
	/*background-image: url(../img/bg-sportsbook_rules.svg);*/
	background-color: #e4550e;
}
.fancyBet-fabList {
	/*background-image: linear-gradient(180deg,#0a92a5 15%,#076875 100%);*/
	text-align: center;
	background-color: #1d4369;
}

.fancy-head .nav-tabs .nav-link {
	border: 0px solid transparent;
}
.fancyBet-fabList button.nav-link {
	color: #000!important;
	font-size: 12px;
}
.fancyBet-fabList button.nav-link {
	min-width: 70px;
	height: 24px;
	line-height: 18px;
	color: rgba(163,64,5,.85);
	font-weight: 700;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0 8px;
	display: block;
	text-align: center;
}
.outer_navtablist {
	display: inline-flex;
	background-color: rgba(255,255,255,.5);
	margin: 5px 0 4px;
	border-radius: 5px;
}
.fancyBet-fabList .nav-tabs .nav-link.active {
	background: #fff !important;
}
.fancyBet-fabList .nav-tabs .nav-link:hover{
	background-color: #e6efd100;
}
.minwidth {
	width: 60%;
}
.bannerImg img {
	width: 100%;
	margin-bottom: 15px;
}
.card-fancybet {
	background: #fff;
	padding: 0;
	border: none;
	border-radius: unset;
}
.tbl-bets .valign-middle {
	vertical-align: middle;
}
.fancy-bet td .btn {
	border: 1px solid #333;
}
.book-btn {
	background: linear-gradient(-180deg,#323232 0,#0d0d0d 100%);;
	font-weight: 700;
	font-size: 12px;
	padding: 4px 10px;
}
td.valign-middle.mbl-book {
	width: 10%;
}

.tbl-bets .min-max {
	vertical-align: middle;
}

.tbl-bets thead th {
	border-bottom: 1px solid #7e97a7 !important;
}

.card.fancy-card {
	border: 0px solid rgba(0,0,0,.125);
}

table.table.table-hover.tbl-bets.fancy-bet.p-rltv {
	margin: 0;
}

.match-list a {
	color: #000!important;
	cursor: pointer;
	text-decoration: none;
}

nav.fancyBet-fabList.revert {
	background-image: linear-gradient(180deg,#f26d1c 15%,#d14100 100%);
}

.inner-footer {
	border-top: 1px solid rgba(0,0,0,.3);
	margin: 40px 0;
	padding-top: 6px;
}

.support-wrap {
	display: block;
	color: rgba(0,0,0,.6);
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.support-wrap h3 {
	color: rgba(0,0,0,.3);
	font-size: 15px;
	margin-right: 15px;
	font-weight: 700;
	display: inline-block;
}

.support-wrap dl {
	margin-right: 10px;
	margin-bottom: 6px;
	display: inline-block;
}

.support-wrap dt {
	float: left;
}
dt {
	font-weight: 700;
}
.support-wrap a {
	color: #000;
}
.support-wrap dl dd, .support-wrap-mobile dl dt {
	font-weight: 400;
}
.support-wrap dd {
	padding-left: 27px;
	color: #000;
}
.support-app img {
	background-position: -392px -2304px;
	height: 22px;
	width: 22px;
}
.support-app img, .support-mail img, .support-skype img, .support-telegram img {
	background-image: url(../img/main-icon-sprite.269f94d9cdce0460514b.png);
	background-repeat: no-repeat;
}
a.rules-btn-home {
	margin-left: 5px;
	text-decoration: none;
	cursor: pointer;
}
.rules-btn-home {
	color: #000!important;
	font-size: 14px;
}
.arrow::before {
	margin: 0 10px;
	content: "|";
}

.maincol {
	margin-right: 25.6%;
	margin-left: 17.36111%;
	flex: 1;
	min-width: 0;
}
.art_colleft {
	width: 17.36111%!important;
	/* height: 100vh; */
	flex: 0 0 200px;
	order: -1;
}
.aside {
	width: 26.04167%;
	flex: 0 0 250px;
}
a {
	text-decoration: none;
}

/*Responsive*/

.mobile-menu {
	/*white-space: nowrap;*/
	/*overflow-x: auto;
	width: 88%;*/
	/*background: linear-gradient(180deg,#ffcc2f 8%,#ffb80c 100%);*/
	background-color: #276aa5;
	margin-top: 72px;
}
nav.sportGame {
	overflow-x: auto;
	white-space: nowrap;
	overflow-y: hidden;
	width: 88%;
	/*display: inline-block;*/
}
.gameHilight-wrap h3 {
	background: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
	text-align: center;
	color: #fff;
	margin: 0;
	line-height: 25px;
	font-size: 12px;
}
.mobile-menu .nav-tabs .nav-link.active {
	background: linear-gradient(180deg,#276aa5 8%,#1d4369 100%) !important;
	color: #ffffff;
	box-shadow: inset 0 1px 3px 0 #333;
	border: 0;
}
nav.sportGame .nav-tabs {
	flex-wrap: nowrap;
	padding-top: 5px;
}
nav.sportGame .nav-tabs {
	border-bottom: 0px solid #dee2e6;
}
.a-search {
	position: absolute;
	z-index: 2;
	right: 0;
	width: 12%;
	height: 44px;
	padding: 0;
	background-image: linear-gradient(180deg,#525252 0,#2d2d2d 100%);
	border-left: 1px solid rgba(255,255,255,.1);
	border-radius: 0;
	font-size: 0;
	text-indent: -99999px;
}
.mobile-menu .nav-tabs .nav-link {
	padding: 6px 10px;
	color: #000;
	font-weight: bold;
}
.a-search:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 20px;
	height: 20px;
	background: url(../img/search-icon.svg);
}
.icon-Cricket {
	background: url(../img/cricket-player-with-batblack.svg) 0 0/contain no-repeat;
}
.icon-Tennis {
	background: url(../img/man-playing-tennis.black.svg) 0 0/contain no-repeat;
}
.icon-Soccer {
	background: url(../img/soccer-player-with-ball.black.svg) 0 0/contain no-repeat;
}
.icon-Casino {
	background: url(../img/playing-cards-black.black.svg) 0 0/contain no-repeat;
}
.icon-Horse {
	background: url(../img/jockey.cblack.svg) 0 0/contain no-repeat;
}
.icon-Basketball {
	background: url(../img/basketball.black.svg) 0 0/contain no-repeat;
}
.icon-Virtual {
	background: url(../img/simulation.74black.svg) 0 0/contain no-repeat;
}

.mobile-menu .nav-tabs .nav-link.active .icon-Cricket{
	background: url(../img/cricket-player-with-bat-white..svg) 0 0/contain no-repeat;
}
.mobile-menu .nav-tabs .nav-link.active .icon-Tennis{
	background: url(../img/man-playing-tennis-white.svg) 0 0/contain no-repeat;
}
.mobile-menu .nav-tabs .nav-link.active .icon-Soccer{
	background: url(../img/soccer-player-with-ball-white..svg) 0 0/contain no-repeat;
}
.mobile-menu .nav-tabs .nav-link.active .icon-Casino{
	background: url(../img/playing-cards-white.svg) 0 0/contain no-repeat;
}
.mobile-menu .nav-tabs .nav-link.active .icon-Horse{
	background: url(../img/jockey-active.white.svg) 0 0/contain no-repeat;
}
.mobile-menu .nav-tabs .nav-link.active .icon-Basketball{
	background: url(../img/basketball-active.white.svg) 0 0/contain no-repeat;
}
.mobile-menu .nav-tabs .nav-link.active .icon-Virtual{
	background: url(../img/simulation-active.svg) 0 0/contain no-repeat;
}
.hidedate {
	display: none;
}
.pin-off-mobile, .pin-on-mobile {
	background-image: url(../img/pin.svg);
	padding: 0;
	width: 6.66667vw;
	height: 6.66667vw;
	background-repeat: no-repeat;
	font-size: 11px;
	line-height: 13px;
	display: block;
	text-align: center;
	margin-left: 5px;
	text-indent: -99999px;
	background-size: contain;
}
.tbl-mobile-event .v-mid {
	vertical-align: middle;
}
.table-responsive.tbl-mobile-event table {
	margin: 0;
}
.mobFancy-td {
	width: 13%;
}
.mobFancy-td .game-fancy, .mobFancy-td .game-sportbook {
	font-size: 16px;
}
.support-wrap-mobile>dt:before {
	content: "";
	width: 6.13333vw;
	height: 5.6vw;
	background: url(../img/supportImg.svg);
	background-repeat: no-repeat;
	display: block;
	background-position: center;
}
.support-wrap-mobile {
	width: 100%;
	background-color: rgba(0,0,0,.75);
	color: #ffb80c;
	font-size: 3.2vw;
	align-items: stretch;
	margin-top: 10.66667vw;
	margin-bottom: 6.4vw;
	display: flex;
}
.support-wrap-mobile>dt {
	flex: 0 0 9.33333vw;
	background-color: rgba(0,0,0,.7);
	align-items: center;
	justify-content: center;
	padding: 1.06667vw 0.26667vw;
	font-size: 0;
	text-indent: -99999px;
	display: flex;
}
.support-wrap-mobile>dd {
	flex: 1;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.mobile-footer {
	display: none;
}
.support-wrap-mobile dl {
	flex: 1 0 auto;
	margin-bottom: 0;
	align-items: center;
	padding: 2px 0;
	border-bottom: 1px solid rgba(0,0,0,.4);
	display: flex;
}
.support-wrap-mobile a:last-child {
	margin-bottom: 0;
}
.support-wrap-mobile a {
	color: #ffb80c;
	margin-bottom: 1.06667vw;
}
.support-wrap-mobile dl dt {
	color: rgba(255,255,255,.6);
	padding-right: 1.33333vw;
	box-sizing: border-box;
}
dl.support-wrap-mobile dd {
	margin: 0;
	font-size: 14px;
}

.mobile-footer-menu {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: linear-gradient(-180deg,#243a48 20%,#172732 91%);
	color: #fff;
	z-index: 999;
}
.mobile-footer-menu a {
	width: 20vw;
	height: 16.33333vw;
	box-sizing: border-box;
	color: #fff!important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 3.2vw;
	text-align: center;
	line-height: 1.1;
	padding: 1.86667vw 2.66667vw 0;
	display: block;
}
.mobile-footer-menu ul li {
	list-style: none;
}
.mobile-footer-menu ul {
	display: flex;
	padding: 0;
	margin-bottom: 0;
}
.mobile-footer-menu .icon-home {
	width: 6.66667vw;
}
.mobile-footer-menu img {
	width: 7.33333vw;
	height: 7.33333vw;
	margin: 0 auto 0.53333vw;
	display: block;
}
.mobile-footer-menu .icon-sports {
	width: 8.53333vw;
	height: 6.93333vw;
	margin: -2.13333vw auto 1.06667vw;
}
.mobile-footer-menu .main-nav a:before {
	content: "";
	position: absolute;
	top: -4.26667vw;
	width: 100%;
	left: 0;
	height: 4.53333vw;
	background-image: url(../img/half-circ.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	pointer-events: none;
	z-index: -1;
	display: block;
}
.mobile-footer-menu .main-nav {
	position: relative;
}
.marg-gap {
	margin: 81px;
}

.bitBrs1.modal {
	position: relative !important;
	z-index: 0;
}
.bitBrs1.modal .modal-body {
	padding: 0;
}
.bitBrs1 .modal-content {
	background-color: #ffffff0f;
	border-radius: 0;
	border: 0px solid rgba(0,0,0,.2);
}
.bitBrs2.modal {
	position: relative !important;
	z-index: 0;
}
.bitBrs2.modal .modal-body {
	padding: 0;
}
.bitBrs2 .modal-content {
	background-color: #ffffff0f;
	border-radius: 0;
	border: 0px solid rgba(0,0,0,.2);
}
.fancy-quick-tr .btn {
	background: #eee;
	/*background: url(bg-btn.d9aa122….gif) repeat-x #eee;*/
	border: 1px solid #333;
	border-radius: 4px;
	color: #1e1e1e;
	font-weight: 700;
	line-height: 30px;
	font-size: 13px;
	height: 38px;
	margin: 0 5px 0 0;
	text-align: center;
}
.padd_remo {
	padding: 0 !important;
}

.bit-add_Table {
	width: 100%;
}
.slip-lay .col-stake_list {
	border-top: 1px solid #dfa3b3;
	background-color: #faeff2;
	margin-bottom: 0;
}
.slip-back .col-stake_list {
	border-top: 1px solid #7dbbe9;
	background-color: #d4e8f8;
	margin-bottom: 0;

}
.fancy-quick-tr td {
	/*width: 8.97436%;*/
	/*border-bottom: 1px solid #7e97a7;*/
	border-left: 1px solid #ddd;
	font-weight: 700;
	vertical-align: top;
}
.quick_bet-wrap .col-stake_list {
	width: calc(100% + 7px + 2px);
	padding: 5px 0;
	margin-left: -7px;
	zoom: 1;
}
.slip-back, .table .slip-back:active, .table .slip-back:hover {
	background-color: #beddf4;
}
.slip-lay, .table .slip-lay:active, .table .slip-lay:hover {
	background-color: #f3dce2;
}
.slip-back .col-stake_list ul, .slip-book .col-stake_list ul, .slip-lay .col-stake_list ul {
	padding-left: 5px;
	zoom: 1;
}
.quick_bet-wrap .col-stake {
	width: 18.29601%;
	padding-left: 0;
}
.quick_bet-wrap .btn-send, .betmobile-btn .btn-send {
	background: linear-gradient(-180deg, #323232 0, #0d0d0d 100%);
	color: #fff;
	border-color: #000;
	height: 38px;
	line-height: 30px;
	margin: 0;
	width: 100%;
	font-weight: 700;
	border-radius: 5px;
}
.quick_bet-wrap .btn-send.disable, .quick_bet-wrap .btn-send:disabled {

}
.quick_bet-wrap .col-stake_list ul {
	width: 100%;
	padding-right: 5px;
	float: right;
}
.col-stake_list ul {
	padding: 0;
	margin: 0;
}
.slip-back .col-stake_list ul, .slip-lay .col-stake_list ul {
	display: block;
}
.slip-back .col-stake_list ul li, .slip-lay .col-stake_list ul li {
	display: block;
	float: left;
}
.slip-back .col-stake_list li, .slip-book .col-stake_list li, .slip-lay .col-stake_list li {
	width: calc(100% / 8);
}
.fancy-quick-tr .quick_bet-wrap {
	border-width: 0;
}
.quick_bet-wrap .col-stake_list a {
	height: auto;
	line-height: 23px;
	font-size: 12px;
	width: 92%;
}
.slip-back .col-stake_list a, .slip-lay .col-stake_list a {
	font-weight: 400;
	margin: 0 5px 0 0;
}
.quick_bet-wrap dt {
	width: 53.79665%;
	height: auto;
	line-height: 22px;
	padding: 13px 5px 12px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.quick_bet-wrap {
	border: 1px solid #7e97a7;
	border-width: 1px 0;
	box-shadow: inset 0 2px 0 rgb(0 0 0 / 10%);
	padding: 0 2px 0 7px;
}
.quick_bet-wrap dt, .slip-back dt, .slip-lay dt {
	float: left;
}
.slip-back dt, .slip-book dt, .slip-lay dt {
	position: relative;
	width: 40%;
	font-weight: 700;
	padding-left: 5px;
}
.quick_bet-wrap dt .bet-check {
	font-size: 12px;
	opacity: 1;
	float: right;
}
.quick_bet-wrap .col-btn {
	width: 10.00901%;
	margin-bottom: 2px;
}
.fancy-bet td .btn {
	border: 1px solid #333;
}
.quick_bet-wrap .col-odd {
	width: 12.36551%;
}
.quick_bet-wrap dd {
	float: left;
}
.slip-back dd, .slip-book dd, .slip-lay dd {
	position: relative;
	color: #243a48;
	padding: 5px 0;
	text-align: center;
	line-height: 22px;
}
.quick-bet-confirm {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background-color: rgba(255,255,255,.5);
	flex-direction: column;
	justify-content: center;
	display: flex;
	text-align: left;
	margin-bottom: 0;
}
.quick-bet-confirm li {
	width: 100%;
	list-style: none;
	line-height: 18px;
	color: #1e1e1e;
	padding: 0 5px;
	text-align: left;
}
.quick-bet-confirm .quick-bet-confirm-title {
	font-size: 10px;
	line-height: 12px;
	color: #222;
	opacity: .5;
}
.col-stake .icon-minus {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	border: 1px solid #aaa;
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(-180deg,#fff 0,#eee 89%);
	justify-content: center;
	align-items: center;
}
.col-stake .icon-plus {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	border: 1px solid #aaa;
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(-180deg,#fff 0,#eee 89%);
	justify-content: center;
	align-items: center;
}
.quick_bet-wrap .betfairodds {
	width: 20%!important;
	margin-right: 0.5rem;
}
.quick_bet-wrap .betfairodds input {
	width: 72%!important;
}
.betfairodds input {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	text-align: center;
	padding-left: 45px;
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
}
.quick_bet-wrap input {
	font-family: Tahoma,Helvetica,sans-serif;
	color: #1e1e1e;
	border: 0 solid #aaa;
	background: #fff;
	box-shadow: inset 0 1px 0 rgb(0 0 0 / 50%);
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	font-weight: 700;
	box-shadow: unset;
	font-size: 14px;
}
.quick_bet-wrap input, .quick_bet-wrap textarea {
	line-height: 33px;
	height: 40px;
}
.col-stake .icon-minus:before {
	content: '';
	background-repeat: no-repeat;
	display: block;
	width: 4.53333vw;
	height: 1.06667vw;
	position: absolute;
	top: 19px;
	background-image: url(../img/minus.svg);
}
.col-stake .icon-plus:before {
	content: '';
	background-repeat: no-repeat;
	display: block;
	width: 5.53333vw;
	position: absolute;
	top: 12px;
	height: 5.06667vw;
	background-image: url(../img/plus.svg);
}
.fancy-quick-tr td a {
	padding: 3px 10px;
}
.col-stake .show-xs {
	display: none;
}
.col-stake .oddinput {
	border: 1px solid #aaa;
	border-radius: 7px;
}
.col-stake .oddinput {
	width: 105px;
}
.set_mob-th {
	width: 60%;
}
.btn-fancy_info:before {
	background: url(../img/indication2.svg) 0 0/contain;
	width: 20px;
	content: '';
	height: 20px;
}
.btn-fancy_info {
	height: 100%;
	padding: 0;
	margin: 0 5px 0 0;
	background-color: transparent;
	line-height: inherit;
	align-items: center;
	justify-content: center;
	float: right;
	display: none;
}
.fancy_info-popup {
	/*display: none;*/
	color: #1e1e1e;
	right: 0;
	border-radius: 0.5997vmax;
	position: absolute;
	top: -12px;
	align-items: flex-start;
	z-index: 9;
	background: #fff;
	font-weight: 400;
	box-shadow: 0 6px 10px rgb(0 0 0 / 70%);
}
.fancy_info-popup dl {
	border-right: 0.26667vw solid #e0e6e6;
	padding: 3px 1.04948vmax;
	margin: 0;
	min-width: 130px;
}
.fancy_info-popup dt, .limit_info-popup dt {
	height: 1.7991vmax;
	font-size: 1.49925vmax;
	line-height: 1.7991vmax;
	padding: 0.44978vmax 0 0.5997vmax;
	color: #577c94;
}
.fancy_info-popup dd {
	padding-bottom: 0;
	line-height: 3.09895vmax;
	color: #1e1e1e;
	margin: 0;
	font-weight: 700;
}
.fancy_info-popup .close, .limit_info-popup .close {
	width: 3.74813vmax;
	height: 4.74813vmax;
	justify-content: center;
	align-items: center;
	font-size: 0;
	text-indent: -99999px;
	display: flex;
}
.fancy_info-popup .close:before {
	width: 1.34933vmax;
	height: 1.34933vmax;
	background: url(../img/close.svg) no-repeat;
	display: block;
	content: '';
}
.fancy_info-popup {
	display: flex;
}

/*myProfile*/
.divider-top {
	margin-top: 25px;
}
.account-detail-head {
	font-weight: 700;
	font-size: 14px;
	background: #276aa5;
	padding: 6px;
	color: #fff;
}
.account-detail-body {
	padding: 5px 15px;
}
.account-detail-body .bd-example dd, .account-detail-body .bd-example dt {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	color: #23282c;
}
.bd-example .edit-password {
	color: #323232 !important;
    border: 0;
    background: none;
}
.bd-example .eye-edit {
	color: #323232 !important;
}
.user-blnc {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
}
.exp-topcount {
	margin-left: 20px;
}
.exp-red {
	color: #d0021b;
}
.a-referesh {
	display: none;
}
.head-refresh {
	margin-left: 4px;
	position: relative;
	line-height: 25px;
	display: block;
	/*float: left;*/
}
.head-refresh a {
	background-position: -80px -1475px;
	height: 25px;
	width: 30px;
	background-image: url(../img/head-icon_sprite.png);
	background-repeat: no-repeat;
	color: #ffb80c;
	font-size: 0;
	text-indent: -99999px;
	display: block;
}

.account-wrap-new .myaccnt {
	width: 115px;
	background: url(../img/head-icon_sprite.png) no-repeat;
	text-indent: 27px;
	position: relative;
	line-height: 25px;
	background-position: 0 -475px;
	margin-left: 10px;
	float: left;
	font-size: 12px;
	display: inline;
	color: #fff !important;
	padding: 0;
}
.account-wrap-new .drop_menuBg {
	box-shadow: 0 4px 4px 0px rgb(0 0 0 / 35%);
	padding: 0;
	overflow: hidden;
}
.account-wrap-new .dropdown-header {
	border-bottom: 1px solid #333;
}
.dropdown-header {
	padding: 5px 10px;
	height: 28px;
}
.dropdown-header {
	background: #e4e7ea;
	/*border-bottom: 1px solid #c8ced3;*/
}
.account-wrap-new strong {
	color: #333;
}
.account-wrap-new .dropdown-item {
	padding: 5px 10px !important;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 1px solid #c8ced3;
	width: 220px;
}
.logout-btn, .logout-btn:hover {
	width: 100%;
	padding: 7px 10px 5px;
	font-weight: 700;
	background-color: #1d4369;
	height: 27px;
	line-height: 10px;
	font-size: 13px;
	border-color: #1d4369;
}
.dropdown-item i {
	display: inline-block;
	width: 20px;
	margin-right: 10px;
	margin-left: 5px;
	color: #c8ced3;
	text-align: center;
}
.drp-logout:active, .drp-logout:hover {
	background: #fff;
}
.account-detail-head {
	font-weight: 700;
	font-size: 14px;
	background: #1d4369;
	padding: 6px;
	color: #fff;
}
.account-detail-head h5.modal-title {
	font-size: 15px;
	font-weight: 700;
}
button.close_eyeModal {
	background-color: transparent;
	color: #fff;
	border: 0;
	font-size: 18px;
	font-weight: 600;
}
div#eyeModal .modal-content{
	border: 0px solid rgba(0,0,0,.2);
}
.view-rolling {
	margin-bottom: 4px !important;
	border: 1px solid #000;
	font-weight: 700;
	width: 100%;
	margin: 0 auto;
}
.asterisk_input:before {
	content: "*";
	font-size: 15px;
	color: #e85656;
}
.ps-changeFrm label {
	margin-bottom: 0.5rem;
}
.ps-changeFrm .form-group {
	margin-bottom: 1rem;
}
.ps-changeFrm .form-control {
	font-size: 14px;
}
.cst_yesBtn {
	background-color: #1d4369;
	border: none;
	margin: 0;
}
.cst_yesBtn:hover {
	background-color: #1d4369;
}
.cst_noBtn {
	background-color: #c8ced3;
	border: none;
	margin: 0;
	color: #23282c;
}
.cst_noBtn:hover {
	background-color: #b3bbc2;
	color: #23282c;
}
.form-control:focus {
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
	border-color: #1d4369;
}
.mrg-3 {
	margin-right: 1rem!important;
}
.mob_views {
	margin: 90px 0;
}
.my_p-logo {
	display: block;
}
.main_expo_box, a.open_bets.m_bet {
	display: none;
}
.side-content h3 {
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	/*background-image: linear-gradient(-180deg,#2e4b5e 0,#243a48 82%);*/
	color: #fff;
	font-size: 18px;
	line-height: 10px;
	background-color: #1d4369;
}
.setting-block {
	font-size: 25px;
	color: #243a48;
	border-bottom: 1px solid #e0e6e6;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.setting-block dd, .setting-block dt {
	padding: 4px;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	margin-bottom: 0;
}
.col-stake_edit {
	margin-top: 17px;
}
.stake-setting dd {
	flex: 1 1 25%;
}
.right-side .side-content {
	border-radius: 0 0 0 1.6vw;
}
.news-wrap .announce-wrap, .side-content {
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	-webkit-overflow-scrolling: touch;
}
.side-content {
	flex: 1;
	border-radius: 0 0 1.6vw;
}
.setting-block input {
	position: relative;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: inset 0 0.53333vw 0 0 rgb(0 0 0 / 10%);
	border-radius: 10px;
	color: #1e1e1e;
	font-size: 15px;
	font-family: Helvetica,Tahoma,sans-serif;
	padding: 2px;
	margin-bottom: 0;
	-webkit-appearance: none;
}
.stake-setting input {
	width: 75px;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}
.stack_setting {
	width: 352px;
	padding: 0;
	box-shadow: 0 4px 5px rgb(0 0 0 / 50%);
	border: 0;
}
.stack_setting .btn-send {
	background: #1d4369;
	border-color: #1d4369;
	color: ivory;
	display: block;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 10px;
	font-size: 22px;
}
.stack_setting .btn, .stack_setting .btn-send {
	flex: 1;
	line-height: 1.7;
}
.frm_before:before {
	content: "\f078";
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	position: absolute;
	right: 8px;
	font-size: 12px;
	top: 8px;
}
.form-group.frm_before {
	position: relative;
}
.form-group.frm_before .form-control {
	font-size: 14px;
}
.form-group.frm_before {
	margin-bottom: 1rem;
}
.card-report {
	padding: 10px 10px 0;
	background-color: #e0e6e6;
	border-bottom: 1px solid #7e97a7;
	border-top-color: #323232;
	border-top-width: 2px;
}
.form-group.frm_before span.glyphicon.glyphicon-calendar:after {
	content: "\f073";
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
}
.form-group.frm_before span.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	/*line-height: 1;*/
	color: #555;
	text-align: center;
	background-color: #c8ced3;
	border: 1px solid #c8ced3;
	border-radius: 4px;
}
span.glyphicon.glyphicon-chevron-left:after {
	content: "\f053";
	font-family: 'font Awesome 6 Free';
	font-weight: 900;
}
span.glyphicon.glyphicon-chevron-right:after {
	content: "\f054";
	font-family: 'font Awesome 6 Free';
	font-weight: 900;
}

input#datepicker, input#datepicker2 {
	background-color: #e4e7ea;
}
.get_historyBtn {
	width: 100%;
	margin-bottom: 10px;
	background-color: #1d4369;
	border: 0;
	color: #fff;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
}
.divider-top .card {
	margin-bottom: 1.5rem;
	border: 1px solid #c8ced3;
}
.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;
}
.no-data-available {
	text-align: center;
}
table.dataTable thead td, table.dataTable thead th {
	border-bottom: 1px solid #c8ced3!important;
}
.table-bordered, .table-bordered td, .table-bordered th {
	border: 1px solid #c8ced3;
}
.table-bordered thead td, .table-bordered thead th, .table-responsive table.dataTable thead th, table.dataTable thead td {
	color: #243a48;
	background-color: #e4e4e4;
	padding: 8px 10px;
}
table.table-bordered.dataTable td, table.table-bordered.dataTable th {
	border-left-width: 0;
}
div#DataTables_Table_0_length label {
	display: inline-block;
	margin-bottom: 0.5rem;
}
div.dataTables_length select {
	width: 75px;
	height: 30px;
	border: 1px solid #dcdcdc!important;
	padding-left: 8px;
	border-radius: 5px;
}
.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
}
.dataTables_wrapper .dataTables_paginate {
	padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
	cursor: default;
	color: #666!important;
	border: 1px solid transparent;
	background: 0 0;
	box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none!important;
	cursor: pointer;
	color: #333!important;
	border: 1px solid transparent;
	border-radius: 2px;
}
.bet_historySec {
	margin-top: 101px;
}
.modal-header.openBet_header {
	background-color: #1d4369;
	color: #fff;
	border-bottom: 0px solid;
}
.fa-regular, .far {
	font-weight: 900;
}
.siteContent_h3 {
	padding: 0 1.86667vw;
	justify-content: space-between;
	align-items: center;
	display: flex;
	/*background-image: linear-gradient(-180deg,#2e4b5e 0,#243a48 82%);*/
	background-color: #276aa5;
	color: #fff;
	font-size: 18px;
	line-height: 2.2;
	margin: 0;
}
#betSetting_modal .modal-content {
	border: 0;
}
input.ng-untouched.ng-pristine.ng-valid:focus-visible {
    outline-color: #1d4369;
}
#betSetting_modal .modal-body {
	padding: 0;
}




@media (max-width: 991px){
	.art_colleft.padRemoright.col_fixed {
		display: none;
	}
	.aside.padRemoleft.col_fixed.fl-right{
		display: none;
	}
	button.logInbtn.moblogBtn {
		padding: 6px 20px;
	}
	.head_logo {
		width: 100px;
		/*height: 55px;*/
	}
	.menu-wrap .tab-menu {
		display: none;
	}
	/*.mobile-menu {
		display: inline-block;
	}*/
	.tbl-mobile-event .table td {
		padding: 5px 5px 5px 10px;
	}
	.match-name {
		font-size: 16px;
	}
	.match-time {
		display: inline-block;
		margin-left: 5px;
	}
	.mobile-footer, .mobile-footer-menu {
		display: block;
	}
	.tbl-mobile-event .table td:nth-child(2) {
		width: 60px;
	}
	.col-md-12.mobile-width {
		padding: 0 14px;
	}
	.mobile-footer {
		margin-bottom: 60px;
	}
	.maincol {
		margin: 0;
		padding: 0 15px;
	}
	.match-list {
		padding: 0;
	}
	table.table.table-hover.tbl-bets.fancy-bet.p-rltv {
		/*margin-bottom: 120px;*/
	}
	.mobile-view {
		margin-bottom: 120px;
	}
	.bannerImg img {
		margin-bottom: 0;
	}
	.tbl-bets td {
		font-size: 16px;
		border: 0;
	}
	.odd-row .team-name .title {
		font-size: 16px;
	}
	.quick_bet-wrap .col-btn, .quick_bet-wrap .col-send {
		width: 50%;
	}
	.quick-bet-confirm {
		width: 94%;
		background-color: #dcdcdc;
		color: #666;
	}
	.quick_bet-wrap .col-stake_list ul {
		padding-right: 0;
		padding-bottom: 8px;
	}
	.slip-back .col-stake_list li, .slip-book .col-stake_list li, .slip-lay .col-stake_list li {
		width: calc(100% / 4);
		margin-top: 5px;
	}
	.quick_bet-wrap .col-odd {
		width: 50%;
	}
	.col-stake input {
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		text-align: center;
		padding-left: 45px;
		border-top-right-radius: unset;
		border-bottom-right-radius: unset;
	}
	.col-stake .oddinput{
		width: 100%;
	}
	.fancy-quick-tr .betmobile-btn .btn, .quick_bet-wrap .betmobile-btn .btn-send, .fancy-quick-tr .betmobile-btn .btn-send, .quick_bet-wrap .betmobile-btn .btn {
		width: 96%;
	}
	.betmobile-btn .col-btn, .betmobile-btn .col-send {
		display: inline-block;
		width: 48%;
	}
	.quick_bet-wrap dt {
		padding: 0;
	}
	.col-btn, .col-send {
		display: none;
	}
	.slip-back .col-stake_list, .slip-lay .col-stake_list {
		border-top: unset;
	}
	.quick_bet-wrap .col-stake_list {
		padding: 0 2px;
	}
	.quick_bet-wrap .col-stake {
		width: 42%!important;
	}
	.slip-back .col-stake_list {
		background-color: #beddf4;
	}
	.hidden-xs, .min-max-bet {
		display: none!important;
	}
	.book-btn {
		display: none;
	}
	.btn-fancy_info {
		display: flex;
	}
	table.table.table-hover.tbl-bets.fancy-bet.p-rltv .modal {
		position: relative;
		overflow-x: initial;
		overflow-y: initial;
	}
	table.table.table-hover.tbl-bets.fancy-bet.p-rltv .modal-dialog {
		margin: 0;
	}
	.modal-content {
		display: flex;
	}
	.open_bets img {
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-image: url(../img/open_bets.svg);
	}
	.a-referesh, .a-setting, .open_bets {
		color: #fff;
		box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
		/*height: 5.33333vw;*/
		/*line-height: 5.33333vw;*/
		font-weight: 700;
		border-radius: 1.06667vw;
		border: 1px solid #0b1933;
		padding: 10px;
		justify-content: center;
		align-items: center;
		display: flex !important;
	}
	.my_bet_remo {
		display: none;
	}
	.main_expo_box{
		display: flex;
		align-items: center;
	}
	.a-referesh img {
		width: 20px;
		height: 20px;
		background: url(../img/refresh.svg);
	}
	.a-setting img {
		width: 20px;
		height: 20px;
		background: url(../img/setting.svg);
	}
	.referesh-blnc, .user-blnc {
		margin-right: 10px;
	}
	.bet_historySec .art_colleft, .bet_historySec .aside{
		display: none;
	}
	.bet_historySec {
		margin-top: 0;
		margin-bottom: 50px;
	}
	.stake-setting dt {
		flex: 1 1 100%;
	} 
	#betSetting_modal .stake-setting .btn-send {
		background-color: #1d4369;
		color: ivory;
		display: block;
		text-align: center;
		/* border: 1px solid #aaa; */
		border-radius: 1.6vw;
		font-size: 25px;
		width: 100%;
		padding: 5px 0;
	}
	.support-wrap-mobile>dt{
		flex: 0 0 14.33333vw;
	}



}
@media (min-width: 300px) and (max-width: 480px) {
	.mobile-menu .sportGame img {
		width: 32px;
		height: 29px;
	}
	.a-search {
		height: 47px;
	}
	.tbl-mobile-event .v-mid {
		width: 30px;
	}
	.referesh-blnc, .user-blnc {
		display: grid;
	}
	.exp-topcount {
		margin: 0;
	}
}
@media (min-width: 992px) and (max-width: 1920px) {
	.moblogBtn, .mobile-menu, .mobile-view, .mob_views {
		display: none;
	}
}
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
	.mobile-menu .sportGame img {
		width: 4.33333vw;
		height: 4.13333vw;
		margin-right: 3px;
	}
	.tbl-mobile-event .v-mid {
		width: 30px;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.mobile-menu .sportGame img {
		width: 5.33333vw;
		height: 5.13333vw;
		margin-right: 3px;
	}
	.tbl-mobile-event .v-mid {
		width: 30px;
	}
	.mobile-footer-menu a {
		font-size: 16px;
		height: 85px;
	}
	.mobile-footer-menu .icon-home {
		width: 4.66667vw;
	}
	.mobile-footer-menu img {
		width: 4.33333vw;
		height: 4.33333vw;
	}
	.mobile-footer-menu .icon-sports {
		width: 5.53333vw;
		height: 5.93333vw;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.setting-block input {
		width: 10.55vw;
		position: relative;
		background: #fff;
		border: 1px solid #aaa;
		box-shadow: inset 0 0.53333vw 0 0 rgb(0 0 0 / 10%);
		border-radius: 1.6vw;
		color: #1e1e1e;
		font-size: 4vw;
		font-family: Helvetica,Tahoma,sans-serif;
		padding: 0.55vw 1.86667vw;
		margin-bottom: 1.86667vw;
		-webkit-appearance: none;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.mobile-menu .sportGame img {
		width: 4.33333vw;
		height: 4.13333vw;
		margin-right: 3px;
	}
	.mobile-footer-menu a {
		font-size: 16px;
		height: 85px;
	}
	.mobile-footer-menu .icon-home {
		width: 4.66667vw;
	}
	.mobile-footer-menu img {
		width: 4.33333vw;
		height: 4.33333vw;
	}
	.mobile-footer-menu .icon-sports {
		width: 5.53333vw;
		height: 5.93333vw;
	}
}

@media (min-width: 768px){
	.container, .container-md, .container-sm {
		max-width: 100%;
		width: 100% !important;
	}
	
}
@media (max-width: 768px){
	.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length {
		float: none;
		text-align: center;
	}
	#betSetting_modal .modal-dialog {
		max-width: 98%;
	}
	.setting-block input {
		width: 17.66667vw;
		position: relative;
		background: #fff;
		border: 1px solid #aaa;
		box-shadow: inset 0 0.53333vw 0 0 rgb(0 0 0 / 10%);
		border-radius: 1.6vw;
		color: #1e1e1e;
		font-size: 4vw;
		font-family: Helvetica,Tahoma,sans-serif;
		padding: 1.66667vw 1.86667vw;
		margin-bottom: 1.86667vw;
		-webkit-appearance: none;
	}
	.setting-block dd, .setting-block dt {
		padding: 0 1.86667vw 1.86667vw 0;
		align-items: center;
		box-sizing: border-box;
		display: flex;
		margin-bottom: 0;
	}
	.stake-setting dd {
		flex: 1 1 25%;
	}
}
/*@media (max-width: 600px){
	#betSetting_modal .modal-dialog {
		max-width: 98%;
	}
}*/
@media (min-width: 576px) {
	.container, .container-sm {
		max-width: 100%;
		width: 100% !important;
	}
}
