:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* //////////////////////////// lOGIN ////////////////////////////////// */
.modal-content {
  border-radius: 0.7rem !important;
  border: none;
}
.screen {
  background: #1d4369;
  position: relative;
  box-shadow: 0px 0px 5px #ffffff;
  border-radius: 10px;
}

.login_form {
  width: 100%;
  padding: 30px;
  display: grid;
  height: calc(100% - 75.59px);
  align-items: center;
  gap: 20px;
  align-content: flex-end;
}

.login__field {
  padding: 0px;
  position: relative;
}

.login__input {
  border: none;
  border: 2px solid black;
  background: white;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.login__submit {
  background: #276aa5;
  font-size: 14px;
  margin-top: 20px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  transition: 0.2s;
}

.login__submit:hover {
  background: #276aa5 !important;
  border-color: #1d4369 !important;
}

.login__label {
  color: #fff;
}

.login_logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.6em;
}

.login_logo img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.login_modal_form {
  margin: 30px 10%;
}
.login_modal_form ._inInput_fx {
  margin: 20px 0%;
}
/* /////////////////////////////// lOGIN /////////////////////////////////// */
button {
  border: 0 !important;
  background-color: transparent;
}
.form-floating > label {
  padding: 0.5rem 0.75rem !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* //////////////////////////////////////////////////////// */

.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(110deg, #e2e5e7, #ffffff, #e2e5e7);
  background-size: 14px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
  padding: 17px 20px;
  margin-top: 6px;
}
.bg_color {
  background-color: #276aa5;
  color: #ffffff;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}


/* Change Password */
input.anv_innrInput {
  height: calc(3rem + 0px) !important;
}

.modal-header.account-detail-head {
  padding-right: 12px;
  padding-left: 12px;
}

.anvChangePass_modal.modal .form-floating > label {
  transform: translateY(0.2rem) translateX(0.15rem);
}

.anvChangePass_modal.modal  .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  transform: scale(.8) translateY(-0.5rem) translateX(0.15rem);
}

.anvChangePass_modal.modal .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 1.12rem;
  padding-bottom: 0.6rem;
}

.anvChangePass_modal.modal .modal-footer {
  gap: 0.65em;
}
.anvChangePass_modal.modal .form-floating > label:after {
  content: "*";
  font-size: 15px;
  color: #e85656;
}

.modBody_contain {
  padding: 2em;
}

.anv_inRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.anvCol_bx {
  flex: 0 0 calc(50% - 10px);
}

.anvChangePass_modal.modal .form-group {
  margin-bottom: 0;
}

.anvTooltip {
  position: absolute;
  background: #fff;
}

.anvTooltip {
  position: absolute;
  left: 2px;
  background: linear-gradient(-180deg, #f72424 0%, rgb(187, 28, 0) 100%);
  display: inline !important;
  width: auto;
  padding: 3px 10px;
  border-radius: 3px;
  margin-top: 5px;
}

p.anvTooltip:before {
  content: "";
  border: 0.3125rem solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-bottom-color: #f72424;
  -webkit-filter: drop-shadow(0 -1px 1px rgba(0,0,0,.3));
  filter: drop-shadow(0 -1px px 1px rgba(0,0,0,.3));
  top: -9px;
}

/* Change Password */